<h1>Weather#show</h1>
<% unless @weather.nil? %>
  <%# @weather.inspect %>
  Current Temp: <%= convert_to_fahrenheit(@weather[:main][:temp]) %><br>
  Low: <%= convert_to_fahrenheit(@weather[:main][:temp_min]) %><br>
  High: <%= convert_to_fahrenheit(@weather[:main][:temp_max]) %><br>
  Pressure: <%= @weather[:main][:pressure] %><br>
  Humidity: <%= @weather[:main][:humidity] %><br>
  City: <%= @weather[:name] %><br>
  Country: <%= @weather[:sys][:country] %><br>
  Sunrise: <%= Time.at(@weather[:sys][:sunrise]) %><br>
  Sunset: <%= Time.at(@weather[:sys][:sunset]) %><br>
  <!-- Icon: <img src="http://openweathermap.org/img/w/ " alt=""> -->
<% end %>
